<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div>
    <form action="/albums"  method="post" >
        <p>Title</p><input type="text" name="title" required/></br>
        <p>Artist</p><input type="text" name="artist" required /></br>
        <p>Song Count</p><input type="number" name="songCount" required/></br>
        <p>Length</p><input type="number" name="length" required/></br>
        <p>imageUrl</p><input type="text" name="imageUrl" required/></br>
        <button type="submit">Submit</button>
    </form>
</div>

<ul class="Album" th:each="album : ${albums}">

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" th:src="${album.imageUrl}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" th:text="'Artist: ' + ${album.artist}"></h5>
            <p class="card-text" th:text="'Song Count: ' + ${album.songCount}"></p>
            <p class="card-text" th:text="'Length: ' + ${album.length} +'sec'"></p>

            <form  style="float:left;"th:action="${'/edit/'+ album.id}" method="get">

                <button class="btn btn-info" style="width:50px;">⚒</button>

            </form>
            <form   th:action="${'/delete/'+ album.id}" method="post" >
                <button style="width:50px;" class="btn btn-danger" type="submit">X</button>
            </form>
        </div>
    </div>


<!--    <button th:href="${'/delete/' + album.id}">Delete</button>-->


<!--    <td><a th:href="${'/edit/' + album.id}">Edit</a></td>-->

</ul>

</body>
</html>