<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 27%;
         display:inline-block;

        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .container {
            padding: 2px 16px;
        }
    </style>
</head>

<body>

<center>
    <h2>Best Songs Ever!</h2>

<div class="card" th:each="album :${albums}"  >

    <h1 th:text="${album.title}"></h1>
  <img th:src="${album.imageUrl}" alt="Avatar" style="width:100%;" height="200">
  <div class="container">
    <h4 th:text="${album.artist}"></h4>
      <p th:text="${album.songCount}"></p> songs
      <p th:text="${album.length}" > </p> seconds
  </div>

</div>


</center>
</body>
</html>