<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create A Blog</title>
</head>
<body>

<h1 th:text="'Create a new Blog ' + ${username}"></h1>

<div>
  <!-- action is the path to our POST action, method = blog -->
  <form action="/v2/blogs" method="post">
    <!-- boring html inputs! the "name" matches the @RequestParam's on the controller -->
    <input type="text" name="user" th:value="${username}" hidden/></br>
    <p>Content</p><input type="text" name="content"/></br>
    <button type="submit">Submit</button>
  </form>
</div>

<ul th:each="blog: ${blogs}">
  <p> Id <span th:text="${blog}"></span></p>

  <p> Id <span th:text="${blog.id}"></span></p>
  <p> Author <span th:text="${blog.appUser.username}"></span></p>
  <p> Content <span th:text="${blog.content}"></span></p>
  <p> Created <span th:text="${blog.created}"></span></p>
</ul>

<p>
  <span>List of Blogs</span>
</p>
<div th:switch="${blogs}">
  <h2 th:case="null">No Blogs yet!</h2>
  <div th:case="*">
    <h2>Blogs</h2>
    <table>
      <thead>
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Content</th>
        <th>Created</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="blog : ${blogs}">
        <td th:text="${blog.id}"></td>
        <td th:text="${blog.appUser.username}"></td>
        <td th:text="${blog.content}"></td>
        <td th:text="${blog.created}"></td>
        <td><a th:href="@{/edit/blog/{id}(id=${blog.id})}">Edit</a></td>
        <td><a th:href="@{/delete/blog/{id}(id=${blog.id})}">Delete</a></td>
<!--        <form  style="float:left;"th:action="${'/edit/'+ album.id}" method="get">-->

<!--          <button class="btn btn-info" style="width:50px;">⚒</button>-->

<!--        </form>-->
<!--        <form   th:action="${'/delete/'+ album.id}" method="post" >-->
<!--          <button style="width:50px;" class="btn btn-danger" type="submit">X</button>-->
<!--        </form>-->
<!--        <td><a th:href="@{/view/{id}(id=${blog.id})}">View</a></td>-->
      </tr>
      </tbody>
    </table>
  </div>
  <p><a href="/v2/blogs">Add a new blog</a></p>
</div>

</body>
</html>